
# **Basics Python Language**

**1. Printing in Python**

1.1. Printing text

In [ ]:
print("Hello Python")
print("Xin chào Python")

Hello Python
Xin chào Python

In [ ]:
print("Hello Python\nXin chào Python")

Hello Python
Xin chào Python

In [ ]:
print("\tHello Python 1")
print("\tHello Python 2")
print("Hello Python 3")

	Hello Python 1
	Hello Python 2
Hello Python 3

1.2. Printing the result of a calculation

In [ ]:
print("3 + 4")
print(3+4)

3 + 4
7

In [ ]:
print("3 + 4 =",3+4)

3 + 4 = 7

1.3. Separating Multiple Arguments

In [ ]:
print("3 + 4 =", 3+4, "and 3 - 4=",3-4 )

3 + 4 = 7 and 3 - 4= -1

**2. Python Comments**

2.1. Creating a Comment

Comments starts with a #, and Python will ignore them:

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

Comments does not have to be text to explain the code, it can also be used to prevent Python from executing code:

2.2. Multi Line Comments

Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

**3. Python Variables and Data Types**

**Python Variables**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
  * A variable name must start with a letter or the underscore character
  * A variable name cannot start with a number
  * A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
  
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
myvar = "Python" 
my_var = "Python" 
_my_var = "Python" 
myVar = "Python" 
MYVAR = "Python" 
myvar2 = "Python"

In [ ]:
2myvar = "Python" 
my-var = "Python" 
my var = "Python"

SyntaxError: ignored

Multi Words Variable Names

In [ ]:
#Camel Case
#Each word, except the first, starts with a capital letter:
myVariableName = "Python"

#Pascal Case
#Each word starts with a capital letter:
MyVariableName = "Python"

#Snake Case
#Each word is separated by an underscore character:
my_variable_name = "Python"

3.1. Assigning Values to Variables

In [ ]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "Python"     # A string

3.2 Multiple Assignment

In [ ]:
a = b = c = 1

In [ ]:
print(a)
print(b)
print(c)

1
1
1

In [ ]:
a,b,c = 1,2.7,"Python"

In [ ]:
print(a)
print(b)
print(c)

1
2.7
Python

3.3. Output Variables

In [ ]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 5
y = "Python"
print(x + y)

TypeError: ignored

**Python Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

  * Text Type:	str
  * Numeric Types:	int, float, complex
  * Sequence Types:	list, tuple, range
  * Mapping Type:	dict
  * Set Types:	set, frozenset
  * Boolean Type:	bool
  * Binary Types:	bytes, bytearray, memoryview

Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

In [ ]:
x = "Hello World"	                              #str	
x = 20	                                        #int	
x = 20.5	                                      #float	
x = 3+5j	                                      #complex	
x = ["apple", "banana", "cherry"]	              #list	
x = ("apple", "banana", "cherry")	              #tuple	
x = range(6)	                                  #range	
x = {"name" : "John", "age" : 36}	              #dict	
x = {"apple", "banana", "cherry"}	              #set	
x = frozenset({"apple", "banana", "cherry"})	  #frozenset	
x = True	                                      #bool	
x = b"Hello"	                                  #bytes	
x = bytearray(5)	                              #bytearray	
x = memoryview(bytes(5))                        #memoryview

3.1. Strings

Python - Slicing Strings

In [ ]:
a = "Hello, World!"

In [ ]:
#Strings are Arrays
print(a[1])

e

In [ ]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for x in "banana":
print(x)

IndentationError: ignored

In [ ]:
#String Length
#To get the length of a string, use the len() function.

a = "Hello, World!"
print(len(a))

13

In [ ]:
#Check String
txt = "The best things in life are free!"
print("free" in txt)
print("free1" in txt) 

txt = "The best things in life are free!"
print("expensive" not in txt)
print("free" not in txt)

True
False
True
False

In [ ]:
#Print only if "free" is present:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("Yes, 'expensive' is NOT present.")

Yes, 'expensive' is NOT present.

In [ ]:
#Slicing
print(a[2:5])

llo

In [ ]:
#Slice From the Start
print(a[:5])

Hello

In [ ]:
#Slice To the End
print(a[2:])

llo, World!

In [ ]:
#Negative Indexing
#Use negative indexes to start the slice from the end of the string:

print(a[-5:-2])

orl

Python - Modify Strings

In [ ]:
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

In [ ]:
#Replace String
print(a.replace("H", "J"))

Jello, World!

In [ ]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
a = "Hello, World,!"
print(a.split(", ")) # returns ['Hello', ' World!']

['Hello', 'World,!']

Python - String Concatenation

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

**Four collection data types**

There are four collection data types in the Python programming language:

  * List is a collection which is ordered and changeable. Allows duplicate members.
  * Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
  * Set is a collection which is unordered and unindexed. No duplicate members.
  * Dictionary is a collection which is unordered and changeable. No duplicate members.
  
When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

3.2. List

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
#String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
#A list can contain different data types:
list1 = ["abc", 34, True, 40, "male",["a",b]]

In [ ]:
#Print the number of items in the list:
print(len(thislist))

In [ ]:
#Print the number of the list:
print(type(list1))

Access Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
print(thislist[3:])

['orange', 'kiwi', 'melon', 'mango']

In [ ]:
print(thislist[-4])

orange

Change Item Value

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
#If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
thislist = ["apple", "banana", "cherry","abnv"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'abnv']

In [ ]:
#If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

 Add List Items

In [ ]:
#To add an item to the end of the list, use the append() method:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#To append elements from another list to the current list, use the extend() method.
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Remove List Items

In [ ]:
#The remove() method removes the specified item.
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
#The pop() method removes the specified index.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
#If you do not specify the index, the pop() method removes the last item.
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [ ]:
#The del keyword also removes the specified index:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: ignored

In [ ]:
#Clear the List
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Sort Lists

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

Copy Lists

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

Join Lists

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

3.2. Python tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
#Allow Duplicates
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

Access Tuple Items

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

Update Tuples

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

Join two tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

3.3. Set

In [ ]:
myset = {"apple", "banana", "cherry"}

Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

Add Items

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

Remove Item

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

Join Two Sets

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

3.4. Python Dictionaries

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

Accessing Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,,
  "colors": ["red", "white", "blue"]
}
print(thisdict["brand"])

In [ ]:
x = thisdict.get("model")

Change Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

Get Keys

In [ ]:
x = thisdict.keys()

Get Values

In [ ]:
x = thisdict.values()

Add Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

Removing Items

In [ ]:
#The pop() method removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
#The del keyword removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
#The clear() method empties the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

**4. Python If ... Else**

Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

  * Equals: a == b
  * Not Equals: a != b
  * Less than: a < b
  * Less than or equal to: a <= b
  * Greater than: a > b
  * Greater than or equal to: a >= b
  
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

4.1 Python Conditions and If statements

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

Elif

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

Else

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

And

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Or

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

Nested If

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

**5. Python While Loops**

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

The break Statement

Continue to the next iteration if i is 3

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

The continue Statement

With the continue statement we can stop the current iteration, and continue with the next

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

**6. Python For Loops**

Print each fruit in a fruit list:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

Looping Through a String

In [ ]:
for x in "banana":
  print(x)

The break Statement

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
  print(x)

The continue Statement

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

The range() Function

In [ ]:
for x in range(6):
  print(x)

Nested Loops

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

**7. Python Functions**

7.1. Creating a Function

In [ ]:
#Creating a Function
def my_function():
  print("Hello from a function")

7.2. Calling a Function

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

7.3. Arguments

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

7.4. Arbitrary Arguments, *args

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

7.5. Keyword Arguments

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

7.6. Default Parameter Value

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

7.7 Passing a List as an Argument

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

7.8 Return Values

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

**8. Lambda**

In [ ]:
f = lambda a : a + 10
print(f(5))

In [ ]:
f = lambda a, b : a * b
print(f(5, 6))

Use that function definition to make a function that always doubles the number you send in:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))