In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/huynhthanh98/ML/master/lab-03/heart.csv")
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, \
                                                   test_size = 0.33, random_state = 42)

In [69]:
X_train = X_train.values
X_test = X_test.values
y_train = y_train.values.reshape(-1,1)
y_test = y_test.values.reshape(-1,1)

array([[54.,  1.,  2., ...,  2.,  0.,  3.],
       [58.,  0.,  2., ...,  2.,  0.,  2.],
       [47.,  1.,  0., ...,  2.,  0.,  2.],
       ...,
       [69.,  1.,  3., ...,  1.,  1.,  2.],
       [46.,  1.,  0., ...,  2.,  0.,  3.],
       [63.,  0.,  1., ...,  2.,  2.,  2.]])

In [7]:
y = data['target']
X = data.drop('target', axis = 1)

array([[1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1]], dtype=int64)

In [62]:
X_train=train.loc[:,["age":"thal"]].values
X_test=test.loc[:,["age":"thal"]].values

y_train=train.loc[:,'target'].values.reshape(-1,1)
y_test=test.loc[:,'target'].values.reshape(-1,1)

SyntaxError: invalid syntax (<ipython-input-62-c7ae43eb6ef0>, line 1)

In [9]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, \
                                                   test_size = 0.33, random_state = 42)

array([1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 1], dtype=int64)

In [57]:
y_train=y_train.values.reshape([-1,1])
y_test=y_test.values.reshape([-1,1])

X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2
126,47,1,0,112,204,0,1,143,0,0.1,2,0,2
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1
273,58,1,0,100,234,0,1,156,0,0.1,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2

In [58]:
for col in X_train.columns:
    mincol = np.min(X_train.loc[:,col])
    maxcol = np.max(X_train.loc[:,col])
    X_train.loc[:,col] = (X_train.loc[:,col]-mincol)/(maxcol-mincol)
    X_test.loc[:,col] = (X_test.loc[:,col]-mincol)/(maxcol-mincol)

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [59]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
37,0.465116,1.0,0.666667,0.571429,0.233256,0.0,0.0,0.719626,0.0,0.285714,1.0,0.000000,1.000000
16,0.558140,0.0,0.666667,0.265306,0.482679,0.0,0.5,0.785047,0.0,0.000000,1.0,0.000000,0.666667
126,0.302326,1.0,0.000000,0.183673,0.168591,0.0,0.5,0.514019,0.0,0.017857,1.0,0.000000,0.666667
291,0.558140,1.0,0.000000,0.204082,0.431871,0.0,1.0,0.485981,0.0,0.785714,0.0,1.000000,0.333333
273,0.558140,1.0,0.000000,0.061224,0.237875,0.0,0.5,0.635514,0.0,0.017857,1.0,0.333333,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,0.372093,1.0,0.666667,0.469388,0.235566,0.0,0.5,0.700935,0.0,0.107143,0.5,0.333333,1.000000
71,0.395349,1.0,0.666667,0.000000,0.221709,0.0,0.5,0.616822,1.0,0.000000,1.0,0.333333,1.000000
106,0.813953,1.0,1.000000,0.673469,0.237875,1.0,0.0,0.401869,0.0,0.017857,0.5,0.333333,0.666667
270,0.279070,1.0,0.000000,0.265306,0.272517,0.0,0.0,0.523364,0.0,0.142857,1.0,0.000000,1.000000
102,0.674419,0.0,0.333333,0.469388,0.147806,0.0,0.5,0.850467,0.0,0.000000,1.0,0.666667,0.666667

In [30]:
#Ham sigmod
def sigmoid(W,X):
    """
    W-weight-trọng số
    X-sample(s)
    """
    return 1/(1+   np.exp(  (-np.matmul(X,W))   )         )

In [32]:
X_train_bar = np.concatenate([np.ones([X_train.shape[0],1]), X_train], axis = 1)
X_train_bar.shape

(203, 14)

In [35]:
W_init = np.zeros([X_train_bar.shape[1],1])
W_init.shape

(14, 1)

In [37]:
W_init = np.zeros([X_train_bar.shape[1],1])
np.matmul(X_train_bar,W_init)

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [49]:
lr=0.0001

W_init = np.zeros([X_train_bar.shape[1],1])
#W_init=np.array([[ 2.23789173],
#                 [-0.96136103]])


list_W=[W_init]
list_error=[]


for epoch in range(50000):
    W = list_W[-1]
    prediction = sigmoid(W, X_train_bar)
    
    error = -np.mean((y_train*np.log(prediction) + (1-y_train)*np.log(1-prediction)), axis = 0)
    
    gradient = np.mean((prediction-y_train)*X_train_bar, axis = 0)
    gradient = gradient.reshape(-1,1)
    
    W = W-lr*gradient
    
    list_W.append(W)
    list_error.append(error)
    if epoch % 1000==0:
        print(list_error[-1])

[0.69314718]
[0.6896408]
[0.68619053]
[0.68279452]
[0.67945112]
[0.67615884]
[0.67291632]
[0.66972233]
[0.66657573]
[0.66347546]
[0.66042052]
[0.65740999]
[0.65444299]
[0.65151867]
[0.64863624]
[0.64579493]
[0.64299399]
[0.6402327]
[0.63751038]
[0.63482635]
[0.63217995]
[0.62957054]
[0.62699749]
[0.6244602]
[0.62195805]
[0.61949046]
[0.61705686]
[0.61465669]
[0.61228937]
[0.60995437]
[0.60765116]
[0.6053792]
[0.60313798]
[0.60092699]
[0.59874574]
[0.59659372]
[0.59447045]
[0.59237547]
[0.5903083]
[0.58826848]
[0.58625557]
[0.58426911]
[0.58230868]
[0.58037385]
[0.57846419]
[0.57657929]
[0.57471874]
[0.57288214]
[0.57106911]
[0.56927925]

In [50]:
X_test_bar = np.concatenate([np.ones([X_test.shape[0],1]), X_test], axis = 1)
y_hat = sigmoid(W, X_test_bar)

np.mean(np.where(y_hat>0.5,1,0) == y_test)

0.58

In [56]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test,y_test)

C:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.8